html {
	scroll-padding-top: 80px;
}
body {
	font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbarlogo {
	width: auto;
	height: 45px;
}
#headerlogo {
	width: 20%;
	height: auto;
	max-width: 70px;
	margin: 15px;
}
#footerlogo {
	width: 20%;
	height: auto;
	max-width: 100px;
	margin: 10px;
}
header {
	width: 100%;
	/*height: 93vh;*/
	color: #fff;
	background: linear-gradient(270deg, #dc3545, #d45b67);
}
#sections {
	width: 45%;
	min-width: 300px;
}
#sections a {
	color: #dc3545;
}
code {
	font-family: 'Ubuntu Mono', 'Hack', Consolas;
}
#interactive01-message {
	color: #f00;
}
.no-fb-button {
	max-width: 200px;
}